<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<h1>{{restaurant.name}} Menu</h1>
		</br>
	{%if items != []%}
	<a href="{{url_for('newMenuItem',restaurant_id=restaurant.id)}}">Add New Menu Item</a>
	</br>
	<div>
		
		{%for i in items%}
		</br>
		<h3>{{i.name}}</h3>
		<h5>{{i.price}}</h5>
		<p>{{i.description}}</p>
		</br>
		<a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}">Edit</a>
		</br>
		<a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=i.id)}}">Delete</a>
		</br>
		
		{% endfor %}
	

	{% else %}
		<p>You currently have no menu items.</p>
		<a href="{{url_for('newMenuItem',restaurant_id=restaurant.id)}}">Add New Menu Item</a>
	{% endif %}
	</div>


</body>
</html>