<html>
<head>
	<title>Add New Menu Item</title>
</head>
<body>
	<h1>Add New Menu Item</h1>

	<form action="#" method='POST'>
		<p>Name:</p>
			<input type='text' size='30' name='name' placeholder='New Menu Item'>

		<p>Description:</p>
			<textarea name='description' rows='4' cols='40' maxlength='200'></textarea>
		
		<p>Price:</p>
			<input name='price' type='number' step='0.01'>

		<p>Course:</p>
			<input type='radio' name='course' value='Appetizer'>Appetizer</br>
			<input type='radio' name='course' value='Entree'>Entree</br>
			<input type='radio' name='course' value='Dessert'>Dessert</br>
		</br>
		
		<input type='submit' value='Create'>
		<a href="#">Cancel</a>
	</form>

</body>
</html>